/******************************************************/
/* Basic Layout                                       */
/******************************************************/

@font-face {
  font-family: 'gabriele';
  src: url('/fonts/gabriele.woff2') format('woff2');
}

@font-face {
  font-family: 'foglihten';
  src: url('/fonts/Foglihten.woff2') format('woff2');
}

:root {
  background-color: #080713;
  color: #fbfbfe;
  font-family: 'foglihten';
}

body {
  display: flex;
  flex-direction: column;
}

header #header-content,
main,
footer {
  width: min(65ch, 100vw - 2rem);
  margin-inline: auto;
}

main {
  margin-block-end: auto;
}

main>* {
  margin-block-start: 1em;
}

/******************************************************/
/* Header                                             */
/******************************************************/

header {
  background-color: rebeccapurple;
  box-shadow: aqua 0 0 5px 3px, black 0 0 15px 4px;
  position: relative;
  isolation: isolate;
  overflow-x: hidden;
}

header::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: url(#roughpaper);
}

header #header-content {
  display: flex;
  justify-content: space-between;
}

nav[aria-label="primary"] ul {
  padding-inline-start: 0;
  margin-block: 0;
}

nav[aria-label="primary"] li {
  display: inline-block;
}

header #logo {
  margin-inline-start: clamp(-2rem, -1rem - 1vw, -1rem);
}

header nav {
  margin-inline-end: clamp(-2rem, -1rem - 1vw, -1rem);
}

header a,
header a:visited,
header a:hover {
  font-family: 'gabriele';
  text-decoration: none;
  color: aqua;
  font-size: 1.2rem;
  padding-block: 1rem;
  padding-inline: clamp(1rem, 1rem + 1vw, 2rem);
  display: inline-block;
}

header a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

header a:focus-visible {
  outline-style: solid;
  outline-color: deeppink;
  outline-width: 2px;
  outline-offset: -1rem;
}

header img {
  margin-block: 1rem;
  block-size: 1.8rem;
}

/******************************************************/
/* Content                                            */
/******************************************************/

/****** Headings ******/

h1 {
  font-family: 'gabriele';
  color: khaki;
}

h2,
h3,
h4 {
  font-family: 'gabriele';
  color: deeppink;
}

/****** Links ******/

a {
  color: gold;
  position: relative;
  isolation: isolate;
}

a:visited {
  color: yellow;
}

a:active,
a:hover {
  color: goldenrod;
}

a:focus-visible {
  outline-style: solid;
  outline-color: deeppink;
  outline-width: 2px;
  outline-offset: 2px;
}

/****** Horizontal Rules ******/

hr {
  border: 0;
  background-image: url('/img/hr.svg');
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/****** Code Blocks ******/

pre[data-lang] {
  background-color: #050506 !important;
  padding: 1rem;
  margin-inline: -1rem;
  margin-block: calc(1em + 20px);
  position: relative;
  tab-size: 2;
}

pre[data-lang]::before,
pre[data-lang]::after {
  content: '';
  position: absolute;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

pre[data-lang]::before {
  inset: -20px 0 0;
  background-image: url('/img/hr-top.svg');
}

pre[data-lang]::after {
  inset: 100% 0 calc(100% + 20px);
  background-image: url('/img/hr-top.svg');
  transform: rotate(180deg);
}

code {
  font-family: 'gabriele';
}

code[data-lang] {
  overflow-x: auto;
  display: block;
}

/****** Footnotes ******/

.footnote-definition {
  display: flex;
  gap: 1rem;
}

.footnote-reference {
  padding-inline: 3px;
}

/****** Fun hand animation ******/

@media(prefers-reduced-motion: no-preference) {
  a::after {
    content: '';
    position: absolute;
    background-image: url('/img/hand.avif');
    display: inline-block;
    aspect-ratio: 2;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0;
    translate: -75px;

    transition: opacity 500ms ease-in 1.5s,
      translate 1.5s ease-in 1s;
  }

  a:hover::after {
    width: 75px;
    opacity: 1;
    translate: 30px;
    animation: start-bobbing linear 1s 2.5s,
      bobbing linear 2s 3.5s infinite alternate;
  }

  @keyframes start-bobbing {
    0% {
      rotate: 0deg;
      translate: 30px 0px;
    }

    50% {
      rotate: -20deg;
      translate: 30px -30px;
    }

    100% {
      rotate: -20deg;
      translate: 10px -10px;
    }
  }

  @keyframes bobbing {
    0% {
      rotate: -20deg;
      translate: 10px -10px;
    }

    20% {
      rotate: -20deg;
      translate: 30px -30px;
    }

    80% {
      rotate: 15deg;
      translate: 30px 40px;
    }

    100% {
      rotate: 15deg;
      translate: 10px 15px;
    }
  }
}

/****** Other ******/

::selection {
  background: #9b0383;
  text-shadow: none;
}

/******************************************************/
/* Footer                                             */
/******************************************************/

footer {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
}

footer img {
  max-block-size: 1.5rem;
}

/******************************************************/
/* Utility Classes                                    */
/******************************************************/

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden:active,
.visually-hidden:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}