{% extends "base.html" %}

{% block header %}
<title>{{ config.title }} - 404 Not Found</title>
<meta name="description" content="{{ config.description }}">
<meta property="og:title" content="{{ config.title }} - 404 Not Found">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ config.base_url }}">
<meta property="og:description" content="{{ config.description }}">
<meta name="twitter:card" content="summary_large_image">
{% endblock header %}

{% block unused %}
<meta property="og:image" content="{{ config.title }}">
<meta property="og:image:alt" content="{{ config.title }}">
{% endblock unused %}

{% block content %}
<img src="/img/bike.avif" alt="" />
<h1>Error 404 Not Found</h1>
<p>The page you are looking for can't be found, please check your URL for typos</p>
{% endblock content %}