{% extends "base.html" %}

{% block header %}
<title>{{ section.title }}</title>
<meta name="description" content="{{ section.description }}">
<meta property="og:title" content="{{ section.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ section.permalink }}">
<meta property="og:description" content="{{ section.description }}">
<meta name="twitter:card" content="summary_large_image">
{% endblock header %}

{% block unused %}
<meta property="og:image" content="{{ section.title }}">
<meta property="og:image:alt" content="{{ section.title }}">
{% endblock unused %}

{% block content %}
<h1>{{ section.title }}</h1>
<p>{{ section.description }}</p>
<ul class="card-list">
  {% for page in section.pages %}
  <li>
    <a class="card" href="{{ page.permalink | safe }}">
      <h2>{{ page.title }}</h2>
      <p>{{ page.description }}</p>
      <p>{{ page.date }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}